.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.image {
  width: 400px;
  height: 500px;
  background-image: url('../images/school.png');
}

.login-container {
  width: 400px;
  height: 500px;
  text-align: center;
  background-color: #fff;
}

.form-title {
  margin-top: 100px;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 20px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  width: 75%;
  margin: auto;
}

.form-input {
  margin-bottom: 5px;
}

.form-login {
  margin-top: 15px;
}

.alert {
  margin-top: 15px;
}

body {
  color: #303030;
  background-color: #f2f2f2;
}