<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>Secured Content - Dog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <div class="container">
      <div class="hello-content">
        <h2>Dog</h2>
        <img src="/project2/lmao/you/cant/see/path.dog" ></img>
        </div>
        <div class="back">
          <a th:href="@{/hello}">Back</a>
      	</div>
     </div>
    <form th:action = "@{/logout}" method = "post">
      <div class="logout text-center">
          <button class="btn btn-outline-secondary" type="submit">Log Out</button>
      </div>
   </form>
   <style type="text/css"> @media print { body { display:none } } </style>
   <script th:src="@{/js/secure.js}"></script>
</body>
</html>
