<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link th:href="@{/css/login.css}" href="/css/login.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="image"></div>
    <div class="login-container">
      <form th:action="@{/login}" method="post">
        <div class="form-title">Account Log In</div>
        <div class="form-container">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control form-input">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control">
          <button class="btn btn-primary form-login" type="submit">Log In</button>
          <div th:if="${param.error}" class="alert alert-danger">
              <div class="header">Error</div>
              <p>Please enter a correct username and password.</p>
          </div>
          <div th:if="${param.logout}" class="alert alert-info">
              <div class="header">Notice</div>
              <p>You have successfully logged out.</p>
            </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>